$black: #333;
$bright-orange: #e87722;
$dark-gray: #222;
$darker-gray: #ccc;
$darkest-gray: #ddd;
$dark-orange: #cf4520;
$gray: #777;
$light-gray: #d3d3d3;
$lighter-gray: #555;
$red: #b31b1b;
$white: #fff;
$yellow: #ffc72c;

$brand-primary: $dark-orange;
