@import url('//fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: '1898Sans';
  src:
    url('./fonts/1898 Sans/1898Sans-Regular.otf') format('otf'),
    url('./fonts/1898 Sans/1898Sans-Regular.woff') format('woff'),
    url('./fonts/1898 Sans/1898Sans-Regular.ttf') format('truetype'),
    url('./fonts/1898 Sans/1898Sans-Regular.svg') format('svg'),
    local('1898Sans-Regular');
}

@font-face {
  font-family: '1898Sans-Bold';
  src:
    url('./fonts/1898 Sans/1898Sans-Bold.otf') format('otf'),
    url('./fonts/1898 Sans/1898Sans-Bold.woff') format('woff'),
    url('./fonts/1898 Sans/1898Sans-Bold.ttf') format('truetype'),
    url('./fonts/1898 Sans/1898Sans-Bold.svg') format('svg'),
    local('1898Sans-Bold');
}

h1,
h2 {
  font-family: '1898Sans-Bold', sans-serif;
}

h1 {
  color: $gray;
  font-size: 2em;
  font-weight: normal;
}

h2 {
  border-bottom: 2px solid $gray-lighter;
  color: $red-cornell;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
