.btn.btn-wcm-submit {
  background-color: $orange-bright;
  border: 0;
  color: $white;

  &:hover {
    background-color: darken($orange-bright, 5%);
  }

  &.active,
  &:active {
    background-color: darken($orange-bright, 10%);
  }
}

a {
  .fa-info,
  .fa-info-circle {
    $link-color: darken(#428bca, 6.5%);

    color: $link-color;

    &:active,
    &:hover {
      color: darken($link-color, 15%);
    }
  }
}
