.btn-primary {
  background-color: $orange;
  border-color: $orange;

  &:hover {
    background-color: darken($orange, 5%);
    border-color: darken($orange, 5%);
  }

  &.active,
  &:active {
    background-color: darken($orange, 10%);
    border-color: darken($orange, 10%);
  }
}

a {
  .fa-info,
  .fa-info-circle {
    $link-color: darken(#428bca, 6.5%);

    color: $link-color;

    &:active,
    &:hover {
      color: darken($link-color, 15%);
    }
  }
}
