body {
  padding-bottom: 80px;
}

.navbar-fixed-bottom {
  background-color: $gray-darker;
  border-top: 0;
  color: $white;
  min-height: 40px;

  p {
    font-size: 0.8em;
    padding: 10px 0 0;
  }
}
