body {
  padding-top: 56px;
}

.navbar-wcm {
  .navbar-brand {
    align-items: center;
    display: flex;
    max-width: 300px;
    padding: 0 10px;

    img {
      width: 100%;
    }

    @media (max-width: 768px) {
      width: 70%;
    }
  }

  .nav-item {
    .active.nav-link {
      border-bottom: 2px solid $white;
    }
  }
}
