.nav-tabs {
  font-size: 0.9em;
  font-weight: 700;

  a:link,
  a:visited,
  a:hover {
    color: $gray-light;
  }

  a:hover {
    background-color: $gray-lighter;
  }

  .active:link,
  .active:focus,
  .active:hover,
  .active:visited {
    border-radius: 0;
    border-top: 3px solid $orange-yellow;
    padding-bottom: 10px;
    padding-top: 5px;
  }
}
